<header>
  <!-- Lägg till logo (img) -->
  <div class="logo" routerLink="" routerLinkActive="active">Web<span class="shop">shop</span></div>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]='{exact: true}'>Hem</a></li>
      <li><a routerLink="shop" routerLinkActive="active">Butik</a></li>
      <li><a routerLink="about" routerLinkActive="active">Om oss</a></li>
      <li><a routerLink="admin" routerLinkActive="active"><mat-icon>account_circle</mat-icon></a></li>
      <li><a routerLink="shopping-cart" routerLinkActive="active"><mat-icon>shopping_cart</mat-icon></a></li>
    </ul>
  </nav>
</header>

<!-- <mat-icon>shopping_cart</mat-icon>
<mat-icon>remove_shopping_cart</mat-icon> -->

<router-outlet></router-outlet>
